body {
    overflow-x: hidden;
    color: #fff;
}

.form-control:focus {
    border-color: #6c63ff!important;
}

.form-control {
    background-color: inherit!important;
}

.login-btn {
    background-color: #6c63ff!important;
    color: aliceblue!important;
}

.login-area {
    padding: 25px 10px;
    background-color: white;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}
.has-error, .has-error:focus {
    border-color: red!important;
}
.has-success, .has-success:focus {
    border-color: green!important;
}

@media (min-width: 576px) {
    .login-area {
        padding: 30px 50px!important;
    }
    
}

/* To do CSS */

/* App.vue css */
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    color: #304;
    line-height: 1.4;
    overflow-x: hidden;
    background: #58315a;
    height: 100vh;
  }
  
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      overflow-x: hidden
  }
  .bg-col {
    background: #f1f1f1f7;
  }
  .preload {
    transform: translateY(300px);
  }
  .full-height {
    height: 100vh;
  }
  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .position-ref {
    position: relative;
  }

/* -------------- Add todo section ----------------- */
.top-banner {
    position: absolute;
    width: 285px;
    height: 229.7px;
    right: -24px;
    top: -60px;
 }
 .itb-1 {
    position: absolute;
    width: 197px;
    height: 153px;
    left: 64px;
    top: 24px;
    background: linear-gradient(180deg, #1E2A93 0%, #e6d178 100%);
    border-radius: 50%;
 }
 .itb-2 {
   position: absolute;
    width: 197px;
    height: 168.7px;
    left: 97px;
    top: 25.7px;
    background: #1E2A93;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-radius: 50%;
 }
 .itb-3 {
   position: absolute;
    width: 207px;
    height: 160px;
    left: 122px;
    top: 50px;
   /* background: linear-gradient(180deg, #FFB8A9 0%, #F1B0A8 27.08%, #1E2A93 100%); */
    background: linear-gradient(
180deg
, #e6d178 0%, #e6d178 27.08%, #1E2A93 100%);
    border-radius: 50%;
 }
 .card {
  /* background: #cfa7f1!important; */
  background: #21003e85!important;
  color: white;
 }
 .card-header {
  /* background-color: rgb(76 7 134)!important; */
   background-color: #21003e!important;
 }
 .card-title {
   color: #fff;
 }